---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
  <img
    src="/logo-light.png"
    alt={SITE?.name}
    class="h-8 w-auto dark:hidden"
  />
  <img
    src="/logo-dark.png"
    alt={SITE?.name}
    class="h-8 w-auto hidden dark:block"
  />
</div>
