---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logoLight from '../assets/images/logo-light.png';
import logoDark from '../assets/images/logo-dark.png';
---

<div class="flex items-center">
  <Image
    src={logoLight}
    alt={SITE?.name}
    class="h-8 w-auto dark:hidden"
    loading="eager"
  />
  <Image
    src={logoDark}
    alt={SITE?.name}
    class="h-8 w-auto hidden dark:block"
    loading="eager"
  />
</div>
